*{
    margin: 0;
    padding: 0;
}

.no-link{
    color: white;
    text-decoration: none;
}

.bordes{
    border-color: rgba(255, 255, 255, 0.531);
}

.card:hover{
    background-color: rgba(79, 72, 72, 0.524) !important;
}

.textoFecha{
    font-size: small;
    color: grey;
}

.textoCargo{
    font-style: italic;
}