*{
    margin: 0;
    padding: 0;
}

body, header, main {
    color: white;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(
        to bottom right,
        #000000 0%,
        #aa0000 20%,
        #aa00aa 40%,
        #aaaa00 60%,
        #00aaaa 80%,
    );

    background-size: 200% 200%;

    animation: gradienteFondo 5s linear infinite alternate;
}

@keyframes gradienteFondo {
    from {
        background-position: 0 0;
    }
    to {
        background-positiom:100% 100%;
    }
}

.card-body {
    color:white;
}

