*{
    margin: 0;
    padding: 0;
}

.no-link{
    color: white;
    text-decoration: none;
}

.disabled{
    pointer-events: none;
    cursor: default;
    color: grey;
}

.perfil{
    border-radius: 50%;
}