*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(
        135deg,
        #131313,
        #07053b,
        #0f0f89,
        #0e0e0e,
        #040459,
        #10026b,
        #0c0b0b
    );
    background-size: 800%;
    animation: f_animado 30s infinite;
}
#menu_inicial{
    margin-bottom: 4%;
}

.no_link{
    text-decoration: none;
    color: white;
    margin-top:8%;
}

.sinFondo{
    background-color: rgba(255,255,255,0%);
    padding: 0px;
}
.texto{
    color: white;
    background-color: rgba(0,0,0,0%);
    text-align: center;
    margin: 0px 0;
    font-size: 16px;
}
.botoncito{
    color: white;
    background-color: white;
    border-radius: 30%;
}

@keyframes f_animado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

div.carta{
    box-shadow: 2px 2px 1px rgb(82, 82, 82);
}

div.carta:hover{
    background-color: rgb(82, 82, 82) !important;
}

.cartas{
    
}